<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DataConnection" connectionString="data source=172.28.10.25\QA;initial catalog=PrintLabel;user id=sa;password=$umcevn123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    
  <add name="DataConnection" connectionString="data source=172.28.10.25\QA;initial catalog=PrintLabel;user id=sa;password=$umcevn123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PVSWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.28.10.17:99/Service/PVSWebService.asmx" binding="basicHttpBinding" bindingConfiguration="PVSWebServiceSoap" contract="PvsService.PVSWebServiceSoap" name="PVSWebServiceSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>